services:
  mysql:
    image: mysql:8.4
    container_name: mysql
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  fhir-etl:
    build: .
    container_name: fhir-processor
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    ports:
      - "8080:8080"
    command: >
      sh -c "uv run src/main.py"

volumes:
  mysql_data: